# Core
[submodule "vimben/vim/core/pathogen"]
    path = vimben/vim/core/pathogen
    url = https://github.com/tpope/vim-pathogen.git

# Colors
[submodule "vimben/vim/colors/sampler-pack"]
    path = vimben/vim/colors/sampler-pack
    url = https://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "vimben/vim/colors/solarized"]
    path = vimben/vim/colors/solarized
    url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vimben/vim/colors/irblack"]
    path = vimben/vim/colors/irblack
    url = https://github.com/wgibbs/vim-irblack.git
[submodule "vimben/vim/colors/vividchalk"]
    path = vimben/vim/colors/vividchalk
    url = https://github.com/tpope/vim-vividchalk.git
[submodule "vimben/vim/colors/molokai"]
    path = vimben/vim/colors/molokai
    url = https://github.com/vim-scripts/molokai.git
[submodule "vimben/vim/colors/pyte"]
    path = vimben/vim/colors/pyte
    url = https://github.com/vim-scripts/pyte.git
[submodule "vimben/vim/colors/github"]
    path = vimben/vim/colors/github
    url = https://github.com/telamon/vim-color-github.git
[submodule "vimben/vim/colors/getafe"]
    path = vimben/vim/colors/getafe
    url = https://github.com/larssmit/getafe.git

# Langs
[submodule "vimben/vim/langs/haml"]
    path = vimben/vim/langs/haml
    url = https://github.com/tpope/vim-haml.git
[submodule "vimben/vim/langs/javascript"]
    path = vimben/vim/langs/javascript
    url = https://github.com/pangloss/vim-javascript.git
[submodule "vimben/vim/langs/cucumber"]
    path = vimben/vim/langs/cucumber
    url = https://github.com/tpope/vim-cucumber.git
[submodule "vimben/vim/langs/markdown"]
    path = vimben/vim/langs/markdown
    url = https://github.com/tpope/vim-markdown.git
[submodule "vimben/vim/langs/puppet"]
    path = vimben/vim/langs/puppet
    url = https://github.com/ajf/puppet-vim.git
[submodule "vimben/vim/langs/scala"]
    path = vimben/vim/langs/scala
    url = https://github.com/bdd/vim-scala.git
[submodule "vimben/vim/langs/handlebars"]
    path = vimben/vim/langs/handlebars
    url = https://github.com/nono/vim-handlebars.git
[submodule "vimben/vim/langs/coffeescript"]
    path = vimben/vim/langs/coffeescript
    url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vimben/vim/langs/rails"]
    path = vimben/vim/langs/rails
    url = https://github.com/tpope/vim-rails.git
[submodule "vimben/vim/langs/git"]
    path = vimben/vim/langs/git
    url = https://github.com/tpope/vim-git.git
[submodule "vimben/vim/langs/textile"]
    path = vimben/vim/langs/textile
    url = https://github.com/timcharper/textile.vim.git
[submodule "vimben/vim/langs/rspec"]
    path = vimben/vim/langs/rspec
    url = https://github.com/skwp/vim-rspec.git
[submodule "vimben/vim/langs/scss"]
    path = vimben/vim/langs/scss
    url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "vimben/vim/langs/csv"]
    path = vimben/vim/langs/csv
    url = https://github.com/vim-scripts/csv.vim.git
[submodule "vimben/vim/langs/nodejs"]
    path = vimben/vim/langs/nodejs
    url = https://github.com/mmalecki/vim-node.js.git
[submodule "vimben/vim/langs/ruby"]
    path = vimben/vim/langs/ruby
    url = https://github.com/vim-ruby/vim-ruby.git